.imglogo {
    /*imagem*/
    width: auto;
    max-width: 80px;
    height: auto;
}
.imga {
    /*imagem*/
    width: auto;
    max-width: 80px;
    height: auto;
    
}
@media only screen and (min-width: 1025px) {
    .menu>ul {
        display: block !important;
    }
    .menu i.icone-burguer {
        display: none !important;
    }
}

@media only screen and (max-width: 1024px) {
    .menu>ul {
        height: auto;
        float: right;
        display: none;
    }
    .menu {
        position: relative;
    }
}
    
@media only screen and (max-width: 440px) {
    .menu>img {
        width: 160px;
    }
    .menu i.icone-burguer {
        top: 34px;
    }
}

.profileimg {
    width: auto;
    max-width: 40px;
    height: auto;
    

}
li a,  /*Centrar menu em tela pequena*/
.dropbtn {
    display: flex;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}