* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
html {
    scroll-behavior: smooth;
  }

  .imgcolumn {
    height: 200px;
    width: 300px;
  }
  .imgcolumn1 {
    height: 200px;
    width: 400px;
  }
.imglogo {
    /*imagem*/
    width: auto;
    max-width: 80px;
    height: auto;
}
.imga {
    /*imagem*/
    width: auto;
    max-width: 80px;
    height: auto;
    
}
.imgtopbutton {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}
@media only screen and (min-width: 1025px) {
  .imgcolumn1 {
    height: 200px;
    width: 300px;
  }
    .menu>ul {
        display: block !important;
    }
    .menu i.icone-burguer {
        display: none !important;
    }
}

@media only screen and (max-width: 1024px) {
  .imgcolumn1 {
    height: 200px;
    width: 300px;
  }
    .menu>ul {
        height: auto;
        float: right;
        display: none;
    }
    .menu {
        position: relative;
    }
}
    
@media only screen and (max-width: 440px) {
  .imgcolumn1 {
    height: 200px;
    width: 300px;
  }
    .menu>img {
        width: 160px;
    }
    .menu i.icone-burguer {
        top: 34px;
    }
}

.profileimg {
    width: auto;
    max-width: 40px;
    height: auto;
    

}
li a,  /*Centrar menu em tela pequena*/
.dropbtn {
    display: flex;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .scrollToTopBtn {
    background-color: transparent;
    /*background-color: rgb(255, 255, 255);*/
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 68px;
    line-height: 48px;
    width: 48px;
  
    /* botao รก direita */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    /* no opacity */
    opacity: 0;
    /*efeito translacao  */
    transform: translateY(100px);
    /* transicao */
    transition: all 0.5s ease;
  }
  
  .showBtn {
    opacity: 1;
    transform: translateY(0);
  }

  .row {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  .maincontent {
    margin-bottom: 50px;
  }

  .main-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }

  .main-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 70px;
  }

  .main-secundario-titulo {
    padding-top: 100px;
  }
  .main-secundario-titulo2 { 
    padding-top: 40px;
  }

  .footer {
    padding: 32px;
}